@import 'shared/styles/breakpoints';

.root {
  border-radius: 16px;
  position: fixed;
  bottom: 28px;
  height: 117px;
  border: 1px solid var(--light-gray);
  width: 345px;
  right: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: var(--chat-enter-msg);
  z-index: 2;

  @include media('<400px') {
    width: 280px;
  }
}

.textarea {
  height: 60px;
  padding: 8px 15px 3px 11px;
  min-height: 60px;
  width: 100%;
  resize: none;
  max-height: 133px;
  line-height: 20px;
  overflow: auto;
  flex-grow: 4;
  font-size: 14px;
  outline: 0;
  background: var(--chat-enter-msg);
  border-radius: 16px;
}

.placeholder {
  display: block;
  width: 100%;
  position: absolute;
  top: 1px;
  pointer-events: none;
  left: 0;
  padding-left: 26px;
  background: var(--chat-enter-msg);
  height: auto;
  padding-top: 5px;
  transition: left 300ms ease-in-out;
  color: var(--chat-placeholder);
  font-weight: 400;
  font-size: 13px;
  border-radius: 16px;

  &__hidden {
    left: 200%;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin: 0 20px;
  width: calc(100% - 20px);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomButton {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--chat-btn-hover);
    }
  }

  &:active {
    background-color: var(--chat-user-bg);
  }
}

.sendButton {
  height: 32px;
  width: 32px;
  cursor: pointer;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTAgMy45MzR2LTIuMjFhMSAxIDAgMCAxIDEuNDk2LS44N2w3LjQxOCA0LjI0YTEgMSAwIDAgMS0uMDMyIDEuNzU0bC03LjQxOCAzLjg4NUExIDEgMCAwIDEgMCA5Ljg0N3YtMS43OGExIDEgMCAwIDEgLjQ4Ni0uODU4bC41ODUtLjM1MmExIDEgMCAwIDAgMC0xLjcxNEwuNDg2IDQuNzlBMSAxIDAgMCAxIDAgMy45MzR6IiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-size: 14px 14px;
  background-color: #000;
  border-radius: 50%;
}

.sendEmailForm {
  width: 100%;
  height: 100%;
  padding: 16px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
}

.input {
  background-color: var(--chat-form-input-bg);
  border: 1px solid var(--test-disabled-border);
  font-weight: 500;
  font-size: 14px;
  color: var(--chat-form-text);
  box-shadow: none;
  height: 31px;
  padding: 0 16px 0 10px;
  border-radius: 18px;
  width: 100%;

  &:disabled {
    opacity: .5;
  }
}

.button {
  text-align: center;
  background-color: var(--red);
  font-weight: 600;
  line-height: normal;
  width: auto;
  border-radius: 42px;
  height: 27px;
  box-shadow: 0 0 17px rgba(0, 0, 0, .15);
  border: 0;
  font-size: 12px!important;
  padding: 2px 32px;
  color: var(--white);

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    }
  }
}
