:root {
    --black: #000000;
    --black-menu: #333333;
    --black-bold: #222222;
    --white: #ffffff;
    --tomato: #f95d51;
    --red: #ff0033;
    --bg-red: #e0002f;
    --silver: #cecece;
    --light-green: #62c584;
    --light-gray: #eee;
    --gray: #888888;
    --dark-gray: #9a9a9a;
    --bg-gray: #c2c2c2;
    --text-gray:#b5b5b5;
    --selector-flag-bg:  #c5c5c5;
    --blue-gray: #777;
    --blue: #00a3e0;
    --shadow: rgba(0, 0, 0, 0.12);
    --opacity-gray-10: rgba(255, 255, 255, 0.1);
    --opacity-gray-40:rgba(255, 255, 255, 0.4);
    --popup-text-bg: #fbfbf9;
    --test-bg: #F7F8F9;
    --test-dark-gray: #7A7A7A;
    --test-disabled-border: #D8D8D8;
    --test-input-text: #1A1A1A;
    --test-agreemtn-text: #666666;
    --scrollbar-color: #C2C9D2;
    --chat-tab: #ececec;
    --chat-tab-text: #77898f;
    --chat-tab-hover: #535353;
    --chat-form-text: #404040;
    --chat-form-input-bg: #F8F8F8;
    --chat-text-bg: rgb(255 240 183 / 78%);
    --chat-online: #85F15B;
    --chat-shadow: 0 0 10px #c2c2c2;
    --chat-time-color: #b3b3b3;
    --chat-user-bg: rgb(249,1,50);
    --chat-enter-msg: #FBFBFB;
    --chat-placeholder: #a9a9a9;
    --chat-btn-hover: #DBDBDB;
    --chat-warning-text: #1F1F1F;
    --bg-gradient: radial-gradient(ellipse at center, #ff98ae -30%, #e0002f 70%, #e0002f 100%);
}