.msgBlock {
  padding: 14px 20px;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
  background: var(--chat-tab);
  border-radius: 8px 0 8px 8px;
  justify-self: flex-start;
  margin-right: 19px;
}

.time {
  line-height: 11px;
  color: var(--chat-time-color);
  font-size: 10px;
  text-align: center;
  margin-top: 2px;
}

.userMsg {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 9px;
  width: 100%;
}

.userIcon {
  background-color: var(--chat-user-bg);
  border-radius: 50%;
  height: 34px;
  line-height: 34px;
  width: 34px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}