@import 'shared/styles/breakpoints';

.root {
  position: relative;
  z-index: 1;
}

.faqWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;

  @include media('<=xl') {
    max-width: 960px;
  }
  @include media('<=lg') {
    max-width: 640px;
  }
}

.list {
  width: 100%;
  margin: 0 10px;

  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    bottom: 0;
    background-color: var(--light-gray);
  }

  @include media('<=lg') {
    margin: 0;
    padding: 0 20px;

    &:after {
      left: 20px;
      right: 20px;
    }
  }
}

.text {
  display: block;
  color: var(--black-menu);
  font-size: 16px;
  font-weight: 400;
  white-space: pre-wrap;
  z-index: 1;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;

  @include media('<=sm') {
    margin-bottom: 15px;
  }
}

.tabWrapper {
  position: relative;
  overflow: hidden;

  &Opened {
    .iconClose {
      transform: rotate(-45deg);
    }

    .text {
      max-height: 170px;
      margin-bottom: 40px;
    }
  }
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
}

.iconClose {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: ' ';
    position: absolute;
    height: 22px;
    width: 3px;
    background-color: var(--bg-red);
    transition: all ease-in-out 0.3s;
  }

  &::after {
    content: ' ';
    position: absolute;
    height: 3px;
    width: 22px;
    background-color: var(--bg-red);
    transition: all ease-in-out 0.3s;
  }
}

.tabButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding: 27px 0;
  cursor: pointer;
  border-top: 1px solid var(--light-gray);

  @include media('<=md') {
    padding: 15px 0;
  }

  &::-webkit-details-marker {
    display: none;
  }
  @media (any-hover: hover) {
    &:hover {
      .iconClose {
        background-color: var(--light-gray);
      }
    }
  }
}

.number {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.35;
  color: var(--bg-red);
  white-space: nowrap;
  margin-right: 5px;

  @include media('<=xl') {
    font-size: 20px;
  }
  @include media('<=md') {
    font-size: 16px;
  }
}

.textButton {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.35;
  white-space: pre-wrap;
  text-align: left;
  color: var(--black-menu);

  @include media('<=xl') {
    font-size: 20px;
  }
  @include media('<=md') {
    font-size: 16px;
  }
}

.textFormWrapper {
  width: 100%;
  margin: 30px 10px 40px;

  @include media('<=lg') {
    margin: 30px 0 40px;
    padding: 0 20px;
  }
}

.titleForm {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.subTitleForm {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black-bold);
}

.questionForm {
  width: 100%;
  padding-bottom: 120px;

  margin: 0 10px;

  @include media('<=lg') {
    margin: 0;
    padding: 0 20px 120px;
  }
}

.questionArea {
  border: 2px solid #cecece;
  border-radius: 5px;
  width: 100%;
  height: 170px;
  padding: 17px 20px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.questionArea_error {
  border: 1px solid var(--red);
}

.buttonFormWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.buttonForm {
  height: 45px;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  color: var(--white);
  background-color: var(--red);
  border-radius: 30px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--bg-red);
    }
  }
}

.buttonForm_forward {
  &::after {
    content: '→';
    margin-left: 5px;
  }
}

.buttonForm_back {
  order: -1;
  &::before {
    content: '←';
    margin-right: 5px;
  }
}

@keyframes movingFlare {
  0% {
    left: -190px;
    margin-left: 0px;
  }
  100% {
    left: 190%;
    margin-left: 80px;
  }
}

.buttonForm_submit {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    width: 45px;
    height: 190px;
    margin-left: 50px;
    background: #fff;
    background: linear-gradient(90deg, var(--opacity-gray-10), var(--opacity-gray-40));
    left: -40px;
    top: -100px;
    z-index: 1;
    transform: rotate(45deg);
    position: absolute;
    animation: movingFlare 3s ease-in-out 0.01s infinite;
  }
}

.buttonForm_hidden {
  visibility: hidden;
  order: -1;
}

.buttonText {
  white-space: nowrap;
}

.paginationWrapper {
  display: flex;
  align-items: center;

  @include media('<=sm') {
    display: none;
  }
}

.pagination {
  color: var(--black-menu);
  opacity: 0.3;
  font-size: 12px;
  font-weight: 600;
  padding-right: 3px;
}

.circle {
  position: relative;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--red);
  background-image: linear-gradient(to left, transparent 50%, var(--bg-gray) 0);

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 20px;
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: var(--red);
    transform-origin: left;
  }

  &:after {
    z-index: -1;
  }
}

.innerCircle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--white);
}

.circle_stepOne {
  &:before {
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
  }
}

.circle_stepTwo {
  &:before {
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
  }
}

.errorText {
  color: var(--red);
  font-size: 13px;
  margin-top: 5px;
}

.errorBlock {
  background: var(--tomato);
  padding: 20px;
  margin-top: 25px;
  text-align: center;
  color: var(--white);
  font-size: 18px;
}

.success {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  background: var(--light-green);
  color: var(--white);
  padding: 20px 30px;
  margin-bottom: 20px;
}

.hide {
  display: none;
}
